lib
etc
.source
.vscode
.venv

# Database files
games.db
backend/games.db
data/games.db
data/artwork/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Development files
.DS_Store
*.log
page_source.html

# build/output
*.tar
dist/
build/

# venvs and packaged libs
.venv/
lib/
Lib/
**/site-packages/**

# OS/editor
.DS_Store
.vscode/



